body { scroll-behavior: smooth; padding-top: 70px; }
.navbar { background-color: #005baa; }
.nav-link { color: white !important; }
.nav-link:hover { color: #ffdd00 !important; }
footer { background: #f8f9fa; }
